[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = git://github.com/vim-scripts/calendar.vim--Matsumoto.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/txt"]
	path = bundle/txt
	url = git://github.com/vim-scripts/txt.vim.git
[submodule "bundle/vim-ledger"]
    path = bundle/vim-ledger
    url = git://github.com/cypok/vim-ledger.git
